RewriteEngine on
Options +FollowSymlinks

RewriteRule ^$ landing.php [L]
RewriteRule ^shop$ shop.php [L]
RewriteRule ^login$ login.php [L]
RewriteRule ^cart$ cart.php [L]
RewriteRule ^about$ about.php [L]
RewriteRule ^profile$ profile.php [L]
RewriteRule ^logout$ components/user/logout.php [L]