RewriteEngine on
Options +FollowSymlinks

RewriteRule ^$ landing.php [L]
RewriteRule ^shop$ shop.php [L]
RewriteRule ^login$ login.php [L]
RewriteRule ^about$ about.php [L]
RewriteRule ^logout$ components/logout.php [L]