:root {
    --nav: #0B132B;
}

#navigation{
    background-color: var(--nav);
}

.brandtext {
    color: #6FFFE9 !important;
    font-size: 3rem;
}

.navtext {
    padding-bottom: 4px;
    color: #6FFFE9 !important;
    font-size: 19pt;
}

.underheader {
    background-color: var(--nav);
    color: #49B8A7 !important;
    font-size: 15pt;
    padding-top: 0;
    font-style: italic;
    padding-left: 3px;
}

#navbarSupportedContent {
    padding-left: 20px;
}

.active {
    font-weight: bold;
}

.navbar-toggler {
    margin-bottom: 12px;
    padding-top: 0;
}

.search-left{
    border-radius: 10px 0 0 10px;
    height: 50px;
}

.search-right{
    border-radius: 0 10px 10px 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
    padding-bottom: 0;

    background-color: #6FFFE9;
    color: #000;
}

.search-right:hover {
    border-radius: 0 10px 10px 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 7px;
    padding-bottom: 0;

    background-color: #5BC0BE;
    color: #000;
}

.search {
    padding-bottom: 12px;
}

.icon-box{
    padding-bottom: 12px;
    width: 7rem;
}