:root {
    --primary: #0D6EFD;
    --secondary: #198754;
    --success: #FDE74C;
    --danger: #06648C;
    --light: #ececec;
    --dark: #212529;
    
    /*ezek csak példák és a bootstrapnek már alapvetően be vannak állítva*/
    --background: #1C2541;
    --nav: #0B132B;
    --text: #6FFFE9;
}

.footer {
    width: 100%;
    position: inherit;
    bottom: 0;
}

.light-text {
    color: var(--text) !important;
}

body {
    background-color: var(--background);
}

.item {
    transition: transform .2s;
    margin: auto;
    width: 18rem;
}

.item:hover {
    transform: scale(1.1);
}

.itemrow {
    padding-top: 30px;
}

.menu_hr {
    border: 10px solid #0B132B;
    margin: 0px;
}

.wide-image {
    width: 100%;
}

.shop-item{
    object-fit: cover; 
    height: 300px
}
/*Ha a footer mérete változik, akkor a 160-t át kell váltani arra*/
.content{
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    padding-bottom: 180px;
}

footer{
    position:relative;
    margin-top: -144px;
    bottom: 0;
    height: 144px;
    width: 100%;
}