:root{
    --primary: #0D6EFD;
    --secondary: #198754;
    --success: #FDE74C;
    --danger: #06648C;
    --light: #ececec;
    --dark: #212529;
    
    /*ezek csak példák és a bootstrapnek már alapvetően be vannak állítva*/
    --background: #1C2541;
}

.light-text{
    --text: #6FFFE9 !important;
}

body {
    background-color: var(--background);
    color: var(--text);
    /*min-height: 100vh;*/
}

.item {
    transition: transform .2s;
    margin: auto;
}

.item:hover {
    transform: scale(1.1);
}

.itemrow {
    padding-top: 30px;
}

hr {
    border: 10px solid #0B132B;
}

.wide-image {
    width: 100%;
}