:root {
    --background: #1C2541;
    --nav: #0B132B;
    --text: #6FFFE9;
}

.footer {
    width: 100%;
    position: inherit;
    bottom: 0;
}

.light-text {
    color: var(--text) !important;
}

body {
    background-color: var(--background);
}

.menu_hr {
    border: 10px solid #0B132B;
    margin: 0px;
}

.wide-image {
    width: 100%;
}

.content{
    width: 100%;
    min-height: 100vh;
    overflow: auto;
    padding-bottom: 150px;
}

footer{
    position:relative;
    margin-top: -144px;
    bottom: 0;
    height: 144px;
    width: 100%;
}